[Unit]
Description=Remote-Control Payout-Bot Watchdog

[Service]
Type=oneshot
WorkingDirectory=%h/scripts/rc-payout-watchdog
ExecStart=%h/scripts/rc-payout-watchdog/rc-watchdog.sh
